.Item {
  margin: 0 10px;
  margin-bottom: 8px;
  background-color: #fff;
  padding: 7px;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.2);
  font-size: 15px;
  position: relative;
}

.Item:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.Item .item-edit-block {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 4px;
  right: 4px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Item .item-edit-block:hover {
  background-color: rgba(9, 30, 66, 0.08);
}

.Item .item-edit {
  font-size: 15px;
  opacity: 0.4;
}
